<footer class="footer js-footer">
	<div class="container">
		<div class="footer__top">
			<div class="footer__info">
				<div class="footer__copyright">© 2019 «Мир» Все права защищены. </div>

				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="doc/pdf-test.pdf" target="_blank">Часто задаваемые вопросы</a></li>

					<li class="footer-menu__item"><a data-fancybox="" data-src="#feedback" href="javascript:;">Обратная связь</a></li>

					<li class="footer-menu__item"><a href="doc/pdf-test.pdf" target="_blank">Полные правила акции</a></li>
				</ul>
			</div>

			<div class="footer-social">
				<a href="#" class="footer-social__item footer-social__item--fb"></a>
				<a href="#" class="footer-social__item footer-social__item--vk"></a>
				<a href="#" class="footer-social__item footer-social__item--ok"></a>
			</div>
		</div>

		<div class="footer__bottom">Общий срок проведения акции с 02.09.2019 по 31.12.2019 г. Организатор акции: ООО «БрендНью», Россия, 109029, г. Москва, Сибирский проезд, дом 2, стр. 11, эт/ком 3/4, ОГРН 1027739129021, ИНН 7703254428. Период совершения транзакций – с 02.09.2019 по 30.11.2019 г., в любом ТСП на территории Российской Федерации по оплате товаров, работ или услуг с использованием Карты «Мир» банка-эмитента «Московский Индустриальный Банк».  Подробную информацию об организаторе акции, правилах ее проведения, сроках, месте, количестве призов, порядке их получения можно узнать на сайте <a href="https://super.mironline.ru/minbank/" target="_blank">https://super.mironline.ru/minbank/</a>
</div>
	</div>
</footer>

<!-- Форма обратной связи -->
<div style="display: none;" id="feedback">
	<form method="get" class="form-site js-valid-form">
		<div class="form-site__head">Обратная связь</div>

		<div class="form-site__field">
			<label for="name" class="form-site__label">ФИО</label>
			<input type="text" id="name">
		</div>

		<div class="form-site__field">
			<label for="phone" class="form-site__label">Номер телефона</label>
			<input type="text" id="phone" class="js-phone">
		</div>

		<div class="form-site__field">
			<label for="email" class="form-site__label">Ваш E–mail</label>
			<input type="email" id="email">
		</div>

		<div class="form-site__field">
			<label for="msg" class="form-site__label">Сообщение</label>
			<textarea id="msg"></textarea>
		</div>

		<input type="submit" value="Отправить" class="btn btn--white">
	</form>
</div>

<!-- Попап об успешной отправки письма -->
<div style="display: none;" id="msg-success" class="success-alert">
	<div class="success-alert__text">Ваше сообщение успешно отправлено!</div>
</div>