/*-------------- fonts -----------------*/
@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-BoldItalic.eot");
  src: local("Gotham Pro Bold Italic"), local("GothamPro-BoldItalic"), url("../fonts/GothamPro/GothamPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-BoldItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Italic.eot");
  src: local("Gotham Pro Italic"), local("GothamPro-Italic"), url("../fonts/GothamPro/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-BlackItalic.eot");
  src: local("Gotham Pro Black Italic"), local("GothamPro-BlackItalic"), url("../fonts/GothamPro/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-BlackItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("../fonts/GothamPro/GothamProNarrow-Bold.eot");
  src: local("Gotham Pro Narrow Bold"), local("GothamProNarrow-Bold"), url("../fonts/GothamPro/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProNarrow-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamProNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Narrow';
  src: url("../fonts/GothamPro/GothamProNarrow-Medium.eot");
  src: local("Gotham Pro Narrow Medium"), local("GothamProNarrow-Medium"), url("../fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProNarrow-Medium.woff") format("woff"), url("../fonts/GothamPro/GothamProNarrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-LightItalic.eot");
  src: local("Gotham Pro Light Italic"), local("GothamPro-LightItalic"), url("../fonts/GothamPro/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-LightItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("GothamPro-Light"), url("../fonts/GothamPro/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-Black.eot");
  src: local("Gotham Pro Black"), local("GothamPro-Black"), url("../fonts/GothamPro/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro/GothamPro-MediumItalic.eot");
  src: local("Gotham Pro Medium Italic"), local("GothamPro-MediumItalic"), url("../fonts/GothamPro/GothamPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/*-------------- base style -----------------*/
html,
body {
  background: #fff;
  font-family: "Gotham Pro", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.4;
  color: #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: #000;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 1.4;
  color: #000;
  padding: 5px 0;
}

b,
strong {
  font-weight: bold;
}

h1,
.h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.9rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin-bottom: 2.5rem;
}

h2,
.h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1;
  color: #000;
  text-align: center;
  margin-bottom: 1.5rem;
}

h3,
.h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.15;
  color: #000;
  margin-bottom: 1rem;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  position: relative;
  width: 100%;
  height: calc(100vh - 3rem);
  margin-top: 3rem;
}

.container {
  width: 100%;
  padding-left: 4.1rem;
  padding-right: 4.1rem;
  position: relative;
}

.btn,
input[type="submit"].btn {
  display: inline-block;
  height: 2.5rem;
  background: #1f5bd7;
  border: 1px solid #1f5bd7;
  border-radius: 2.25rem;
  font-style: normal;
  font-weight: bold;
  font-size: 0.65rem;
  line-height: 2.4rem;
  color: #fff;
  padding: 0 1rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  min-width: 11rem;
}

.btn:hover,
input[type="submit"].btn:hover {
  background: #00088d;
}

.btn--border,
input[type="submit"].btn--border {
  background: transparent;
  color: #fff;
  border-color: #fff;
}

.btn--border:hover,
input[type="submit"].btn--border:hover {
  background: #fff;
  color: #1f5bd7;
}

.btn--white,
input[type="submit"].btn--white {
  height: 2rem;
  background: #fff;
  border-color: #fff;
  color: #000;
  line-height: 1.9rem;
  min-width: 7.5rem;
}

.btn--white:hover,
input[type="submit"].btn--white:hover {
  background: transparent;
  color: #fff;
}

.h-text-left {
  text-align: left !important;
}

.h-text-center {
  text-align: center !important;
}

.h-text-right {
  text-align: right !important;
}

.h-text-justify {
  text-align: justify !important;
}

.h-text-uppercase {
  text-transform: uppercase !important;
}

.h-text-bold {
  font-weight: 700 !important;
}

.t-color-green {
  color: #006848;
}

.fancybox-content {
  padding: 0;
  border-radius: 28px;
}

.fancybox-button svg {
  display: none;
}

.fancybox-slide--html .fancybox-close-small {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../img/ic-close.svg) no-repeat center;
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.fancybox-slide--html .fancybox-close-small:hover {
  background-image: url(../img/ic-close-black.svg);
}

@media (max-height: 880px) {
  html,
  body {
    font-size: 24px;
  }
}

@media (max-width: 1600px) {
  html,
  body {
    font-size: 24px;
  }
}

@media (max-width: 1279px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 991px) {
  html,
  body {
    font-size: 18px;
  }
  .container {
    padding-left: 4.1rem;
    padding-right: 4.1rem;
  }
  main {
    height: calc(100vh - 4.2rem);
    margin-top: 4.2rem;
  }
  .btn,
  input[type="submit"].btn {
    height: 3.5rem;
    border-radius: 1.75rem;
    font-size: 0.9rem;
    line-height: 3.4rem;
    min-width: 15rem;
  }
  h1,
  .h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 767px) {
  html,
  body {
    font-size: 16px;
  }
  main {
    height: auto;
    margin-top: 3.8rem;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn,
  input[type="submit"].btn {
    height: 3rem;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    line-height: 2.9rem;
    min-width: 13.5rem;
  }
  h1,
  .h1 {
    font-size: 1.5rem;
    margin-bottom: 3.2rem;
  }
  .fancybox-content {
    width: 90%;
  }
}

/*-------------- Header -----------------*/
.header {
  height: 3rem;
  background: #fff;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
}

.header__logo-mir img,
.header__logo-bank img {
  height: 1.3rem;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.header__logo-mir img:hover,
.header__logo-bank img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.header__logo-mir {
  padding-right: 0.6rem;
  position: relative;
}

.header__logo-mir::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 90%;
  background: #b3b3b3;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__logo-bank {
  padding-left: 0.7rem;
}

.header .ic-hamburger {
  display: none;
}

@media (max-width: 1279px) {
  .header__logo-bank {
    padding-left: 0.4rem;
  }
  .header__logo-mir {
    padding-right: 0.4rem;
  }
  .header__logo-mir img,
  .header__logo-bank img {
    height: 1.2rem;
  }
}

@media (max-width: 991px) {
  .header {
    height: 4.2rem;
    padding: 1.35rem 0;
  }
  .header .ic-hamburger {
    display: inline-block;
  }
  .header__logos {
    padding-top: 0;
  }
  .header__logo-mir img,
  .header__logo-bank img {
    height: 1.35rem;
  }
  .header__logo-bank {
    padding-left: 0.8rem;
  }
  .header__logo-mir {
    padding-right: 0.8rem;
  }
  .header .container {
    position: static;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 1.3rem 0;
    height: 3.8rem;
  }
  .header__logo-mir img,
  .header__logo-bank img {
    height: 1.2rem;
  }
  .header .ic-hamburger {
    margin-top: -7px;
  }
}

/*-------------- Footer -----------------*/
.footer {
  background: #fff;
  padding: 1rem 0;
  position: fixed;
  bottom: -400px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 100;
  -webkit-transition: bottom 0.8s linear 0s;
  -o-transition: bottom 0.8s linear 0s;
  transition: bottom 0.8s linear 0s;
}

.footer.show {
  bottom: 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 81%;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 0.5rem;
  line-height: 1;
  color: #000;
  white-space: nowrap;
}

.footer__bottom {
  font-style: normal;
  font-weight: normal;
  font-size: 0.4rem;
  line-height: 1.5;
  color: #959595;
  margin-top: 0.5rem;
}

.footer__bottom a {
  color: #959595;
  text-decoration: none;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu__item,
.footer-menu__item a {
  font-style: normal;
  font-weight: normal;
  font-size: 0.5rem;
  line-height: 1;
  color: #000;
}

.footer-menu__item {
  margin: 0;
  padding: 0 0.8rem;
  list-style: none;
}

.footer-menu__item a:hover {
  text-decoration: none;
  color: #006848;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 19%;
}

.footer-social__item {
  display: inline-block;
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.footer-social__item--fb {
  background: #006848 url(../img/ic-fb.svg) no-repeat center;
}

.footer-social__item--vk {
  background: #006848 url(../img/ic-vk.svg) no-repeat center;
}

.footer-social__item--ok {
  background: #006848 url(../img/ic-ok.svg) no-repeat center;
}

.footer-social__item:hover {
  background-color: #0f9f64;
}

.footer-social__item:not(first-child) {
  margin-left: 15px;
}

@media (max-width: 991px) {
  .footer {
    padding: 2rem 0;
  }
  .footer__top, .footer__info {
    display: block;
  }
  .footer__info {
    width: 100%;
  }
  .footer__copyright {
    font-size: 0.68rem;
  }
  .footer__bottom {
    font-size: 0.65rem;
    line-height: 1.45;
  }
  .footer-social {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 1.2rem;
  }
  .footer-social__item {
    width: 32px;
    height: 32px;
  }
  .footer-social__item:not(first-child) {
    margin-left: 0;
    margin-right: 15px;
  }
  .footer-menu {
    margin-top: 1.2rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-menu__item,
  .footer-menu__item a {
    font-size: 0.68rem;
    padding: 0;
  }
  .footer-menu__item:not(:last-child) {
    margin-right: 2.3rem;
  }
}

@media (max-width: 767px) {
  .footer {
    position: static;
    padding: 3rem 0;
  }
  .footer__copyright {
    font-size: 0.88rem;
  }
  .footer__bottom {
    margin-top: 1.5rem;
    font-size: 0.7rem;
    line-height: 1.5;
  }
  .footer-menu {
    margin-top: 1.4rem;
  }
  .footer-menu__item,
  .footer-menu__item a {
    font-size: 0.88rem;
  }
  .footer-menu__item {
    margin-bottom: 1.25rem;
  }
  .footer-social {
    margin-top: 0.4rem;
  }
  .footer-social__item {
    width: 37px;
    height: 37px;
  }
}

/*-------------- fullpage -----------------*/
.fullpage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fullpage.slick-vertical .slick-slide {
  height: calc(100vh - 3rem);
  border: 0;
}

.fullpage__item {
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .fullpage.slick-vertical .slick-slide {
    height: calc(100vh - 4.2rem);
  }
}

@media (max-width: 767px) {
  .fullpage {
    position: static;
    height: auto;
  }
  .fullpage.slick-vertical .slick-slide {
    height: calc(100vh - 3.8rem);
  }
  .fullpage__item {
    height: auto;
  }
}

/*-------------- top-menu -----------------*/
.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 11rem);
  padding: 0;
  padding-left: 3.4rem;
  margin: 0;
  list-style: none;
}

.top-menu__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-menu__item,
.top-menu__item a {
  font-style: normal;
  font-weight: normal;
  font-size: 0.5rem;
  line-height: 1;
  color: #000;
  text-decoration: none;
}

.top-menu__item a:hover {
  color: #006848;
}

@media (max-height: 880px) {
  .top-menu__item,
  .top-menu__item a {
    font-size: 0.7rem;
  }
}

@media (max-width: 1600px) {
  .top-menu {
    padding-left: 2rem;
  }
  .top-menu__item,
  .top-menu__item a {
    font-size: 0.6rem;
  }
}

@media (max-width: 1279px) {
  .top-menu {
    width: calc(100% - 9rem);
    padding-left: 1rem;
  }
  .top-menu__item,
  .top-menu__item a {
    font-size: 0.5rem;
  }
}

@media (max-width: 991px) {
  .top-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.5rem 4.1rem;
    width: 100%;
    background: #fff;
    text-align: center;
    border-top: 1px solid #006848;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
            box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  }
  .top-menu__item,
  .top-menu__item a {
    font-size: 1rem;
  }
  .top-menu__item:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 767px) {
  .top-menu {
    padding: 1.5rem 20px;
  }
}

/*-------------- form-site -----------------*/
.form-site {
  min-width: 19rem;
  background: #006848;
  padding: 2rem 3.5rem;
  color: #fff;
}

.form-site__head {
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin-bottom: 35px;
}

.form-site__label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 0.5rem;
  line-height: 1;
  color: #fff;
  margin-bottom: 5px;
}

.form-site input[type="text"],
.form-site input[type="email"],
.form-site textarea {
  display: inline-block;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 22.5px;
  outline: none;
  padding: 0 20px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 43px;
  color: #fff;
}

.form-site textarea {
  height: 100px;
}

.form-site__field {
  margin-bottom: 25px;
}

.form-site .btn,
.form-site input[type="submit"].btn {
  display: block;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .form-site {
    min-width: 26rem;
  }
  .form-site__head {
    font-size: 1.2rem;
  }
  .form-site__label {
    font-size: 0.7rem;
  }
}

@media (max-width: 767px) {
  .form-site {
    padding: 2rem 1.2rem;
    min-width: 17rem;
  }
  .form-site__head {
    font-size: 1.2rem;
  }
  .form-site__label {
    font-size: 0.7rem;
  }
}

/*-------------- success-alert -----------------*/
.success-alert {
  width: 19rem;
  background: #006848;
  padding: 3.5rem;
  color: #fff;
}

.success-alert__text {
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.2;
  color: #fff;
  text-align: center;
}

@media (max-width: 767px) {
  .success-alert {
    width: 18rem;
    padding: 2.5rem;
  }
}

/*-------------- about -----------------*/
@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.2, 0.8, 1);
            transform: scale3d(1.2, 0.8, 1);
  }
  40% {
    -webkit-transform: scale3d(0.8, 1.2, 1);
            transform: scale3d(0.8, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.2, 0.8, 1);
            transform: scale3d(1.2, 0.8, 1);
  }
  40% {
    -webkit-transform: scale3d(0.8, 1.2, 1);
            transform: scale3d(0.8, 1.2, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: #e5e6e8;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #e5e6e8), color-stop(43%, rgba(229, 230, 232, 0)), color-stop(54%, rgba(229, 230, 232, 0)), color-stop(100%, #e5e6e8));
  background: -o-linear-gradient(45deg, #e5e6e8 0%, rgba(229, 230, 232, 0) 43%, rgba(229, 230, 232, 0) 54%, #e5e6e8 100%);
  background: linear-gradient(45deg, #e5e6e8 0%, rgba(229, 230, 232, 0) 43%, rgba(229, 230, 232, 0) 54%, #e5e6e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e6e8', endColorstr='#e5e6e8', GradientType=1 );
  position: relative;
  overflow: hidden;
}

.about-wrap__sheet-top {
  display: inline-block;
  width: 100%;
  height: 50%;
  background: url(../img/about-top-sheets.png) no-repeat top center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 10%;
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.about-wrap__sheet-bottom {
  display: inline-block;
  width: 100%;
  height: 50%;
  background: url(../img/about-bottom-sheets.png) no-repeat bottom center;
  background-size: contain;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about__content, .about__img {
  width: calc(50% - 0.5rem);
}

.about__head {
  font-style: normal;
  font-weight: 300;
  font-size: 2.65rem;
  line-height: 1.18;
  color: #006848;
  letter-spacing: 0.6px;
}

.about__text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.42;
  color: #000;
  margin-top: 1.4rem;
}

.about .btn {
  margin-top: 1.8rem;
}

.fullpage__item.animate .about-wrap__sheet-top {
  opacity: 1;
  left: 0;
}

.fullpage__item.animate .about-wrap__sheet-bottom {
  opacity: 1;
  bottom: 0;
}

.fullpage__item.animate .about__img img {
  -webkit-animation: rubberBand  1.5s 1 linear 1s;
          animation: rubberBand  1.5s 1 linear 1s;
}

@media (max-width: 1800px) {
  .about__head {
    font-size: 2.3rem;
  }
}

@media (max-width: 1279px) {
  .about__content {
    width: calc(60% - 0.5rem);
  }
  .about__img {
    width: calc(40% - 0.5rem);
  }
}

@media (max-width: 991px) {
  .about {
    display: block;
  }
  .about__content {
    width: 100%;
  }
  .about__img {
    width: 90%;
    margin-top: 10%;
  }
  .about__content {
    max-width: 500px;
  }
  .about__head {
    font-size: 2.75rem;
    line-height: 1.3;
  }
  .about__text {
    margin-top: 1.8rem;
    max-width: 440px;
  }
}

@media (max-width: 767px) {
  .about-wrap {
    display: block;
    padding-top: 2.5rem;
    padding-bottom: 2.2rem;
  }
  .about-wrap__sheet-top {
    width: 200%;
  }
  .about__head {
    font-size: 1.85rem;
    line-height: 1.35;
  }
  .about__text {
    margin-top: 2.4rem;
    line-height: 1.7;
  }
  .about .btn {
    margin-top: 3rem;
  }
  .about__img {
    width: 100%;
    margin-top: 4rem;
  }
}

/*-------------- action -----------------*/
.action-wrap {
  height: 100%;
  padding: 2% 0;
  background: #01adfd;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #01adfd), color-stop(100%, #1e5fd9));
  background: -o-linear-gradient(top, #01adfd 0%, #1e5fd9 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#01adfd), to(#1e5fd9));
  background: linear-gradient(to bottom, #01adfd 0%, #1e5fd9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01adfd', endColorstr='#1e5fd9', GradientType=0 );
  position: relative;
  overflow: hidden;
}

.action-wrap__sheet-left {
  display: inline-block;
  width: 50%;
  height: 100%;
  background: url(../img/action-left-sheet.png) no-repeat bottom left;
  background-size: contain;
  position: absolute;
  top: 0;
  left: -5%;
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.action-wrap__sheet-right {
  display: inline-block;
  width: 50%;
  height: 100%;
  background: url(../img/action-right-sheet.png) no-repeat center right;
  background-size: contain;
  position: absolute;
  top: 0;
  right: -5%;
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.action-wrap h1,
.action-wrap .h1 {
  opacity: 0;
  margin-top: -0.5rem;
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.action__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.action__item {
  width: 15.8rem;
  padding: 0 3.3rem;
  text-align: center;
  opacity: 0;
}

.action__item:first-child {
  -webkit-transition: all 0.7s ease 1s;
  -o-transition: all 0.7s ease 1s;
  transition: all 0.7s ease 1s;
}

.action__item:last-child {
  -webkit-transition: all 0.7s ease 1.5s;
  -o-transition: all 0.7s ease 1.5s;
  transition: all 0.7s ease 1.5s;
}

.action__img {
  height: 7.5rem;
  margin-bottom: 0.8rem;
}

.action__img img {
  display: inline-block;
  max-height: 100%;
}

.action__head {
  font-style: normal;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.15;
  color: #fff;
}

.action__text {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.2;
  color: #fff;
  margin-top: 0.6rem;
}

.action__btn {
  text-align: center;
  opacity: 0;
  margin-top: 0;
  -webkit-transition: all 0.7s ease 2.1s;
  -o-transition: all 0.7s ease 2.1s;
  transition: all 0.7s ease 2.1s;
}

.fullpage__item.animate .action-wrap__sheet-left {
  opacity: 1;
  left: 0;
}

.fullpage__item.animate .action-wrap__sheet-right {
  opacity: 1;
  right: 0;
}

.fullpage__item.animate .action-wrap h1,
.fullpage__item.animate .action-wrap .h1 {
  opacity: 1;
  margin-top: 0;
}

.fullpage__item.animate .action__item {
  opacity: 1;
}

.fullpage__item.animate .action__btn {
  opacity: 1;
  margin-top: 2rem;
}

@media (max-width: 1600px) {
  .action-wrap {
    padding: 4.5% 0;
  }
}

@media (max-width: 991px) {
  .action__list {
    display: block;
  }
  .action__item {
    width: 100%;
    padding: 0;
  }
  .action__item:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  .action__img {
    height: 9rem;
    margin-bottom: 1.8rem;
  }
  .action__head, .action__text {
    max-width: 195px;
    margin-left: auto;
    margin-right: auto;
  }
  .action__head {
    font-size: 1.15rem;
  }
  .action__text {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-top: 0.9rem;
  }
}

@media (max-width: 767px) {
  .action-wrap {
    padding: 3rem 0 3.5rem;
  }
  .action-wrap h1,
  .action-wrap .h1 {
    opacity: 1;
    margin-top: 0;
  }
  .action-wrap__sheet-left, .action-wrap__sheet-right {
    width: 150%;
  }
  .action-wrap__sheet-left {
    opacity: 1;
    left: 0;
  }
  .action-wrap__sheet-right {
    opacity: 1;
    right: 0;
  }
  .action__item {
    opacity: 1;
  }
  .action__item:not(:last-child) {
    margin-bottom: 1.7rem;
  }
  .action__btn {
    opacity: 1;
    margin-top: 2rem;
  }
  .action__img {
    height: 7.8rem;
    margin-bottom: 1.5rem;
  }
  .action__head {
    max-width: 180px;
    font-size: 1rem;
    line-height: 1.3;
  }
  .action__text {
    margin-top: 0.7rem;
  }
}

/*-------------- award -----------------*/
@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.award-wrap {
  height: 100%;
  padding: 2% 0;
  position: relative;
  overflow: hidden;
}

.award-wrap__sheet-left {
  display: inline-block;
  width: 50%;
  height: 100%;
  background: url(../img/award-left-sheet.png) no-repeat center left;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 10%;
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.award-wrap__sheet-right {
  display: inline-block;
  width: 50%;
  height: 100%;
  background: url(../img/award-right-sheet.png) no-repeat right;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.award-wrap__sheet-bottom {
  display: inline-block;
  width: 100%;
  height: 50%;
  background: url(../img/award-bottom-sheet.png) no-repeat bottom center;
  background-size: contain;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.award-wrap__present {
  display: inline-block;
  width: 7.5rem;
  height: 5.2rem;
  background: url(../img/bg-present.png) no-repeat bottom center;
  background-size: contain;
  position: absolute;
  left: 4.1rem;
  bottom: -200px;
  -webkit-transition: bottom 0.5s ease 1.5s;
  -o-transition: bottom 0.5s ease 1.5s;
  transition: bottom 0.5s ease 1.5s;
}

.award-wrap h1,
.award-wrap .h1 {
  opacity: 0;
  margin-top: -0.5rem;
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.award__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.award__item {
  width: 20rem;
  padding: 0 4rem;
  text-align: center;
  opacity: 0;
}

.award__item:first-child {
  -webkit-transition: all 0.7s ease 1s;
  -o-transition: all 0.7s ease 1s;
  transition: all 0.7s ease 1s;
}

.award__item:last-child {
  -webkit-transition: all 0.7s ease 1.5s;
  -o-transition: all 0.7s ease 1.5s;
  transition: all 0.7s ease 1.5s;
}

.award__img {
  height: 8.3rem;
}

.award__img img {
  display: inline-block;
  max-height: 100%;
}

.award__text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.35;
  color: #000;
  margin-top: 0.9rem;
}

.award__price {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0f9f64;
}

.award__price--blue {
  color: #00088d;
}

.fullpage__item.animate .award-wrap__sheet-left {
  opacity: 1;
  left: 0;
}

.fullpage__item.animate .award-wrap__sheet-right {
  opacity: 1;
  right: -1%;
}

.fullpage__item.animate .award-wrap__sheet-bottom {
  opacity: 1;
  bottom: 0;
}

.fullpage__item.animate .award-wrap h1,
.fullpage__item.animate .award-wrap .h1 {
  opacity: 1;
  margin-top: 0;
}

.fullpage__item.animate .award__item {
  opacity: 1;
}

.fullpage__item.animate .award-wrap__present {
  bottom: -2%;
  -webkit-animation: tada 1.5s 1 linear 2s;
          animation: tada 1.5s 1 linear 2s;
}

@media (max-width: 1600px) {
  .award-wrap {
    padding: 4.5% 0;
  }
}

@media (max-width: 1279px) {
  .award-wrap__present {
    left: 3rem;
  }
}

@media (max-width: 991px) {
  .award__list {
    display: block;
  }
  .award__item {
    width: 100%;
    padding: 0;
  }
  .award__item:not(:last-child) {
    margin-bottom: 3.5rem;
  }
  .award__img {
    height: 10rem;
  }
  .award__text {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
    line-height: 1.3;
  }
  .award__price {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .award-wrap {
    padding: 3rem 0 7.5rem;
  }
  .award-wrap__sheet-left {
    opacity: 1;
    left: -60%;
    width: 100%;
    background-position: top center;
  }
  .award-wrap__sheet-right {
    opacity: 1;
    right: 0;
    width: 70%;
  }
  .award-wrap__sheet-bottom {
    width: 300%;
    opacity: 1;
    bottom: 35%;
    left: 0;
  }
  .award-wrap h1,
  .award-wrap .h1 {
    opacity: 1;
    margin-top: 0;
  }
  .award-wrap__present {
    bottom: 0;
    left: -1.5rem;
  }
  .award__item {
    opacity: 1;
  }
  .award__item:not(:last-child) {
    margin-bottom: 3.9rem;
  }
  .award__img {
    height: 8rem;
  }
  .award__price {
    font-size: 1.5rem;
  }
  .award__text {
    font-size: 1rem;
    margin-top: 1.3rem;
    max-width: 225px;
  }
}

/*-------------- winners -----------------*/
.winners-wrap {
  background: #006447 url(../img/pattern.png) no-repeat top center;
  background-size: contain;
  padding: 2% 0;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.winners-wrap__woman {
  width: 6.5rem;
  position: absolute;
  left: -200px;
  bottom: 0;
  -webkit-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.winners-wrap__man {
  width: 6.5rem;
  position: absolute;
  right: -200px;
  bottom: 10%;
  -webkit-transition: all 1s ease 0.5s;
  -o-transition: all 1s ease 0.5s;
  transition: all 1s ease 0.5s;
}

.winners-wrap h1,
.winners-wrap .h1 {
  opacity: 0;
  margin-top: -0.5rem;
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.winners {
  width: 61%;
  margin: -1rem auto 0;
}

.winners__head, .winners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1;
          flex: 0 0 1;
  padding: 0.65rem 1rem 0.55rem;
  opacity: 0;
}

.winners__row {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
  -webkit-transition: all 0.5s ease 1s;
  -o-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
}

.winners__head-item {
  font-style: normal;
  font-weight: normal;
  font-size: 0.6rem;
  line-height: 1.2;
  color: #fff;
}

.winners__item {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.2;
  color: #000;
}

.winners__row:nth-child(1) {
  -webkit-transition: all 0.3s ease 1.5s;
  -o-transition: all 0.3s ease 1.5s;
  transition: all 0.3s ease 1.5s;
}

.winners__row:nth-child(2) {
  -webkit-transition: all 0.3s ease 1.8s;
  -o-transition: all 0.3s ease 1.8s;
  transition: all 0.3s ease 1.8s;
}

.winners__row:nth-child(3) {
  -webkit-transition: all 0.3s ease 2.1s;
  -o-transition: all 0.3s ease 2.1s;
  transition: all 0.3s ease 2.1s;
}

.winners__row:nth-child(4) {
  -webkit-transition: all 0.3s ease 2.4s;
  -o-transition: all 0.3s ease 2.4s;
  transition: all 0.3s ease 2.4s;
}

.winners__row:nth-child(5) {
  -webkit-transition: all 0.3s ease 2.7s;
  -o-transition: all 0.3s ease 2.7s;
  transition: all 0.3s ease 2.7s;
}

.winners__row:nth-child(6) {
  -webkit-transition: all 0.3s ease 3s;
  -o-transition: all 0.3s ease 3s;
  transition: all 0.3s ease 3s;
}

.winners__head-item, .winners__item {
  padding: 0 0.2rem;
}

.winners__head .winners__head-item:nth-child(2),
.winners__row .winners__item:nth-child(2) {
  width: 30%;
}

.winners__head .winners__head-item:nth-child(3),
.winners__row .winners__item:nth-child(3) {
  width: 30%;
}

.winners__head .winners__head-item:first-child,
.winners__row .winners__item:first-child {
  width: 40%;
}

.fullpage__item.animate .winners-wrap__woman {
  left: 4.1rem;
}

.fullpage__item.animate .winners-wrap__man {
  right: 4.1rem;
}

.fullpage__item.animate .winners-wrap h1,
.fullpage__item.animate .winners-wrap .h1 {
  opacity: 1;
  margin-top: 0;
}

.fullpage__item.animate .winners__row,
.fullpage__item.animate .winners__head {
  opacity: 1;
}

@media (max-width: 1600px) {
  .winners-wrap {
    padding: 4.5% 0;
  }
}

@media (max-width: 1279px) {
  .winners {
    width: 80%;
  }
  .fullpage__item.animate .winners-wrap__man {
    right: 2rem;
  }
  .fullpage__item.animate .winners-wrap__woman {
    left: 2rem;
  }
}

@media (max-width: 991px) {
  .winners-wrap {
    background-repeat: repeat-y;
  }
  .winners-wrap__woman {
    bottom: 9%;
  }
  .winners-wrap__man {
    bottom: 14%;
  }
  .winners {
    margin-top: 0;
    width: auto;
    margin-left: -4.1rem;
    margin-right: -4.1rem;
  }
  .winners__row {
    border-radius: 0;
  }
  .winners__head-item {
    font-size: 0.8rem;
  }
  .winners__item {
    font-size: 0.9rem;
  }
  .winners__row, .winners__head {
    padding: 1rem 4.1rem 0.9rem;
  }
}

@media (max-height: 880px) {
  .winners-wrap__woman {
    bottom: -4%;
  }
  .winners-wrap__man {
    bottom: 2%;
  }
}

@media (max-width: 767px) {
  .winners-wrap {
    padding: 3rem 0 2.5rem;
  }
  .winners-wrap__woman, .winners-wrap__man {
    display: none;
  }
  .winners-wrap h1,
  .winners-wrap .h1 {
    opacity: 1;
    margin-top: 0;
  }
  .winners {
    margin-top: -2.3rem;
    margin-left: -20px;
    margin-right: -20px;
  }
  .winners__row, .winners__head {
    opacity: 1;
    padding: 1rem 20px 0.9rem;
  }
  .winners__head-item, .winners__item {
    font-size: 0.6rem;
  }
  .winners__head .winners__head-item:nth-child(2),
  .winners__row .winners__item:nth-child(2) {
    width: 40%;
  }
  .winners__head .winners__head-item:first-child,
  .winners__row .winners__item:first-child {
    width: 30%;
  }
  .winners__head {
    margin-bottom: 5px;
  }
  .winners__row {
    margin-bottom: 12px;
  }
}
