/*-------------- action -----------------*/
.action-wrap{
	height: 100%;
	padding: 2% 0;
	background: rgba(1,173,253,1);
	background: -moz-linear-gradient(top, rgba(1,173,253,1) 0%, rgba(30,95,217,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(1,173,253,1)), color-stop(100%, rgba(30,95,217,1)));
	background: -webkit-linear-gradient(top, rgba(1,173,253,1) 0%, rgba(30,95,217,1) 100%);
	background: -o-linear-gradient(top, rgba(1,173,253,1) 0%, rgba(30,95,217,1) 100%);
	background: -ms-linear-gradient(top, rgba(1,173,253,1) 0%, rgba(30,95,217,1) 100%);
	background: linear-gradient(to bottom, rgba(1,173,253,1) 0%, rgba(30,95,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01adfd', endColorstr='#1e5fd9', GradientType=0 );
	position: relative;
	overflow: hidden;

	&__sheet-left{
		display: inline-block;
		width: 50%;
		height: 100%;
		background: url(#{$path-img}/action-left-sheet.png) no-repeat bottom left;
		background-size: contain;
		position: absolute;
		top: 0;
		left: -5%;
		opacity: 0;
		transition: all 1s ease 0s;
	}

	&__sheet-right{
		display: inline-block;
		width: 50%;
		height: 100%;
		background: url(#{$path-img}/action-right-sheet.png) no-repeat center right;
		background-size: contain;
		position: absolute;
		top: 0;
		right: -5%;
		opacity: 0;
		transition: all 1s ease 0.5s;
	}

	h1,
	.h1{
		opacity: 0;
		margin-top: -0.5rem;
		transition: all 0.5s ease 0.5s;
	}
}

.action{
	&__list{
		display: flex;
		justify-content: center;
	}

	&__item{
		width: 15.8rem;
		padding: 0 3.3rem;
		text-align: center;
		opacity: 0;
	}

	&__item:first-child{
		transition: all 0.7s ease 1s;
	}

	&__item:last-child{
		transition: all 0.7s ease 1.5s;
	}

	&__img{
		height: 7.5rem;
		margin-bottom: 0.8rem;
	}

	&__img img{
		display: inline-block;
		max-height: 100%;
	}

	&__head{
		@include font(normal, bold, 0.9rem, 1.15, #fff);
	}

	&__text{
		@include font(normal, normal, 0.8rem, 1.2, #fff);
		margin-top: 0.6rem;
	}

	&__btn{
		text-align: center;
		opacity: 0;
		margin-top: 0;
		transition: all 0.7s ease 2.1s;
	}
}

.fullpage__item.animate{
	.action-wrap__sheet-left{
		opacity: 1;
		left: 0;
	}

	.action-wrap__sheet-right{
		opacity: 1;
		right: 0;
	}

	.action-wrap h1,
	.action-wrap .h1{
		opacity: 1;
		margin-top: 0;
	}

	.action__item{
		opacity: 1;
	}

	.action__btn{
		opacity: 1;
		margin-top: 2rem;
	}
}

@media (max-width: 1600px) {
	.action-wrap{
		padding: 4.5% 0;
	}
}

@media (max-width: 991px) {
	.action{
		&__list{
			display: block;
		}

		&__item{
			width: 100%;
			padding: 0;
		}

		&__item:not(:last-child){
			margin-bottom: 1.6rem;
		}

		&__img{
			height: 9rem;
			margin-bottom: 1.8rem;
		}

		&__head,
		&__text{
			max-width: 195px;
			margin-left: auto;
			margin-right: auto;
		}

		&__head{font-size: 1.15rem;}

		&__text{
			font-size: 0.9rem;
			line-height: 1.5;
			margin-top: 0.9rem;
		}
	}
}