/*-------------- award -----------------*/
@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}

	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%,
	60%,
	80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}
.award-wrap{
	height: 100%;
	padding: 2% 0;
	position: relative;
	overflow: hidden;

	&__sheet-left{
		display: inline-block;
		width: 50%;
		height: 100%;
		background: url(#{$path-img}/award-left-sheet.png) no-repeat center left;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 10%;
		opacity: 0;
		transition: all 1s ease 0s;
	}

	&__sheet-right{
		display: inline-block;
		width: 50%;
		height: 100%;
		background: url(#{$path-img}/award-right-sheet.png) no-repeat right;
		background-size: contain;
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		transition: all 1s ease 0s;
	}

	&__sheet-bottom{
		display: inline-block;
		width: 100%;
		height: 50%;
		background: url(#{$path-img}/award-bottom-sheet.png) no-repeat bottom center;
		background-size: contain;
		position: absolute;
		bottom: 5%;
		@include left-center;
		opacity: 0;
		transition: all 1s ease 0.5s;
	}

	&__present{
		display: inline-block;
		width: 7.5rem;
		height: 5.2rem;
		background: url(#{$path-img}/bg-present.png) no-repeat bottom center;
		background-size: contain;
		position: absolute;
		left: 4.1rem;
		bottom: -200px;
		transition: bottom 0.5s ease 1.5s;
	}

	h1,
	.h1{
		opacity: 0;
		margin-top: -0.5rem;
		transition: all 0.5s ease 0.5s;
	}
}

.award{
	&__list{
		display: flex;
		justify-content: center;
	}

	&__item{
		width: 20rem;
		padding: 0 4rem;
		text-align: center;
		opacity: 0;
	}

	&__item:first-child{
		transition: all 0.7s ease 1s;
	}

	&__item:last-child{
		transition: all 0.7s ease 1.5s;
	}

	&__img{
		height: 8.3rem;
	}

	&__img img{
		display: inline-block;
		max-height: 100%;
	}

	&__text{
		@include font(normal, normal, 1rem, 1.35, $color-text);
		margin-top: 0.9rem;
	}

	&__price{
		font-size: 1.5rem;
		font-weight: 500;
		color: $color-green-light;
	}

	&__price--blue{
		color: $color-blue-dark;
	}
}

.fullpage__item.animate{
	.award-wrap__sheet-left{
		opacity: 1;
		left: 0;
	}

	.award-wrap__sheet-right{
		opacity: 1;
		right: -1%;
	}

	.award-wrap__sheet-bottom{
		opacity: 1;
		bottom: 0;
	}

	.award-wrap h1,
	.award-wrap .h1{
		opacity: 1;
		margin-top: 0;
	}

	.award__item{
		opacity: 1;
	}

	.award-wrap__present{
		bottom: -2%;
		animation: tada 1.5s 1 linear 2s;
	}
}

@media (max-width: 1600px) {
	.award-wrap{
		padding: 4.5% 0;
	}
}

@media (max-width: 1279px) {
	.award-wrap{
		&__present{left: 3rem;}
	}
}

@media (max-width: 991px) {
	.award{
		&__list{
			display: block;
		}

		&__item{
			width: 100%;
			padding: 0;
		}

		&__item:not(:last-child){
			margin-bottom: 3.5rem;
		}

		&__img{
			height: 10rem;
		}

		&__text{
			max-width: 280px;
			margin-left: auto;
			margin-right: auto;
			font-size: 1.4rem;
			line-height: 1.3;
		}

		&__price{font-size: 2rem;}
	}
}

@media (max-width: 767px) {
	.award-wrap{
		padding: 3rem 0 7.5rem;

		&__sheet-left{
			opacity: 1;
			left: -60%;
			width: 100%;
			background-position: top center;
		}

		&__sheet-right{
			opacity: 1;
			right: 0;
			width: 70%;
		}

		&__sheet-bottom{
			width: 300%;
			opacity: 1;
			bottom: 35%;
			left: 0;
		}

		h1,
		.h1{
			opacity: 1;
			margin-top: 0;
		}

		&__present{
			bottom: 0;
			left: -1.5rem;
		}
	}

	.award{
		&__item{
			opacity: 1;
		}

		&__item:not(:last-child){
			margin-bottom: 3.9rem;
		}

		&__img{
			height: 8rem;
		}

		&__price{font-size: 1.5rem;}

		&__text{
			font-size: 1rem;
			margin-top: 1.3rem;
			max-width: 225px;
		}
	}
}