/*-------------- top-menu -----------------*/
.top-menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 11rem);
	padding: 0;
	padding-left: 3.4rem;
	margin: 0;
	list-style: none;

	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item,
	&__item a{
		@include font(normal, normal, 0.5rem, 1, $color-text);
		text-decoration: none;
	}

	&__item a:hover{
		color: $color-green;
	}
}

@media (min-width: 992px) {
	.top-menu{
		display: flex !important;
	}
}

@media (max-height: 880px) {
	.top-menu{
		&__item,
		&__item a{
			font-size: 0.7rem;
		}
	}
}

@media (max-width: 1600px) {
	.top-menu{
		padding-left: 2rem;

		&__item,
		&__item a{
			font-size: 0.6rem;
		}
	}
}

@media (max-width: 1279px) {
	.top-menu{
		width: calc(100% - 9rem);
		padding-left: 1rem;

		&__item,
		&__item a{
			font-size: 0.5rem;
		}
	}
}

@media (max-width: 991px) {
	.top-menu{
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		padding: 1.5rem 4.1rem;
		width: 100%;
		background: #fff;
		text-align: center;
		border-top: 1px solid $color-green;
		box-shadow: 0 8px 8px rgba(0,0,0,.25);

		&__item,
		&__item a{
			font-size: 1rem;
		}

		&__item:not(:last-child){
			margin-bottom: 0.8rem;
		}
	}
}

@media (max-width: 767px) {
	.top-menu{
		padding: 1.5rem 20px;
	}
}