/*-------------- winners -----------------*/
.winners-wrap{
	background: #006447 url(#{$path-img}/pattern.png) no-repeat top center;
	background-size: contain;
	padding: 2% 0;
	position: relative;
	overflow: hidden;
	height: 100%;

	&__woman{
		width: 6.5rem;
		position: absolute;
		left: -200px;
		bottom: 0;
		transition: all 1s ease 0.5s;
	}

	&__man{
		width: 6.5rem;
		position: absolute;
		right: -200px;
		bottom: 10%;
		transition: all 1s ease 0.5s;
	}

	h1,
	.h1{
		opacity: 0;
		margin-top: -0.5rem;
		transition: all 0.5s ease 0.5s;
	}
}

.winners{
	width: 61%;
	margin: -1rem auto 0;

	&__head,
	&__row{
		display: flex;
		justify-content: space-between;
		flex: 0 0 1;
		padding: 0.65rem 1rem 0.55rem;
		opacity: 0;
	}

	&__row{
		background: #fff;
		border-radius: 8px;
		margin-bottom: 8px;
		transition: all 0.5s ease 1s;
	}

	&__head-item{
		@include font(normal, normal, 0.6rem, 1.2, #fff);
	}

	&__item{
		@include font(normal, normal, 0.75rem, 1.2, $color-text);
	}

	&__row:nth-child(1){transition: all 0.3s ease 1.5s;}
	&__row:nth-child(2){transition: all 0.3s ease 1.8s;}
	&__row:nth-child(3){transition: all 0.3s ease 2.1s;}
	&__row:nth-child(4){transition: all 0.3s ease 2.4s;}
	&__row:nth-child(5){transition: all 0.3s ease 2.7s;}
	&__row:nth-child(6){transition: all 0.3s ease 3s;}

	&__head-item,
	&__item{
		padding: 0 0.2rem;
	}

	&__head &__head-item:nth-child(2),
	&__row &__item:nth-child(2){
		width: 30%;
	}

	&__head &__head-item:nth-child(3),
	&__row &__item:nth-child(3){
		width: 30%;
	}

	&__head &__head-item:first-child,
	&__row &__item:first-child{
		width: 40%;
	}
}

.fullpage__item.animate{
	.winners-wrap__woman{
		left: 4.1rem;
	}

	.winners-wrap__man{
		right: 4.1rem;
	}

	.winners-wrap h1,
	.winners-wrap .h1{
		opacity: 1;
		margin-top: 0;
	}

	.winners__row,
	.winners__head{
		opacity: 1;
	}
}

@media (max-width: 1600px) {
	.winners-wrap{
		padding: 4.5% 0;
	}
}

@media (max-width: 1279px) {
	.winners{
		width: 80%;
	}

	.fullpage__item.animate{
		.winners-wrap__man{right: 2rem;}
		.winners-wrap__woman{left: 2rem;}
	}
}

@media (max-width: 991px) {
	.winners-wrap{
		background-repeat: repeat-y;
		
		&__woman{bottom: 9%}
		&__man{bottom: 14%;}
	}

	.winners{
		margin-top: 0;
		width: auto;
		margin-left: -4.1rem;
		margin-right: -4.1rem;

		&__row{
			border-radius: 0;
		}

		&__head-item{
			font-size: 0.8rem;
		}

		&__item{
			font-size: 0.9rem;
		}

		&__row,
		&__head{
			padding: 1rem 4.1rem 0.9rem;
		}
	}
}

@media (max-height: 880px) {
	.winners-wrap{
		&__woman{bottom: -4%}
		&__man{bottom: 2%;}
	}
}

@media (max-width: 767px) {
	.winners-wrap{
		padding: 3rem 0 2.5rem;

		&__woman,
		&__man{
			display: none;
		}

		h1,
		.h1{
			opacity: 1;
			margin-top: 0;
		}
	}

	.winners{
		margin-top: -2.3rem;
		margin-left: -20px;
		margin-right: -20px;

		&__row,
		&__head{
			opacity: 1;
			padding: 1rem 20px 0.9rem;
		}

		&__head-item,
		&__item{
			font-size: 0.6rem;
		}

		&__head &__head-item:nth-child(2),
		&__row &__item:nth-child(2){
			width: 40%;
		}

		&__head &__head-item:first-child,
		&__row &__item:first-child{
			width: 30%;
		}

		&__head{
			margin-bottom: 5px;
		}

		&__row{
			margin-bottom: 12px;
		}
	}
}