/*-------------- Footer -----------------*/
.footer{
	background: #fff;
	padding: 1rem 0;
	position: fixed;
	bottom: -400px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 100%;
	z-index: 100;
	transition: bottom 0.8s linear 0s;

	&.show{
		bottom: 0;
	}

	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 81%;
	}

	&__copyright{
		@include font(normal, normal, 0.5rem, 1, $color-text);
		white-space: nowrap;
	}

	&__bottom{
		@include font(normal, normal, 0.4rem, 1.5, $color-grey);
		margin-top: 0.5rem;

		a{
			color: $color-grey;
			text-decoration: none;
		}
	}
}

.footer-menu{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;

	&__item,
	&__item a{
		@include font(normal, normal, 0.5rem, 1, $color-text);
	}

	&__item{
		margin: 0;
		padding: 0 0.8rem;
		list-style: none;
	}

	&__item a:hover{
		text-decoration: none;
		color: $color-green;
	}
}

.footer-social{
	display: flex;
	justify-content: flex-end;
	width: 19%;

	&__item{
		display: inline-block;
		width: 37px;
		height: 37px;
		border-radius: 50%;
	}

	&__item--fb{background: $color-green url(#{$path-img}/ic-fb.svg) no-repeat center;}
	&__item--vk{background: $color-green url(#{$path-img}/ic-vk.svg) no-repeat center;}
	&__item--ok{background: $color-green url(#{$path-img}/ic-ok.svg) no-repeat center;}

	&__item:hover{
		background-color: $color-green-light;
	}

	&__item:not(first-child){
		margin-left: 15px;
	}
}

@media (max-width: 991px) {
	.footer{
		padding: 2rem 0;

		&__top,
		&__info{
			display: block;
		}

		&__info{
			width: 100%;
		}

		&__copyright{font-size: 0.68rem;}

		&__bottom{
			font-size: 0.65rem;
			line-height: 1.45;
		}
	}

	.footer-social{
		width: 100%;
		justify-content: flex-start;
		margin-top: 1.2rem;

		&__item{
			width: 32px;
			height: 32px;
		}

		&__item:not(first-child){
			margin-left: 0;
			margin-right: 15px;
		}
	}

	.footer-menu{
		margin-top: 1.2rem;
		flex-wrap: wrap;
		justify-content: flex-start;

		&__item,
		&__item a{
			font-size: 0.68rem;
			padding: 0;
		}

		&__item:not(:last-child){
			margin-right: 2.3rem;
		}
	}
}

@media (max-width: 767px) {
	.footer{
		position: static;
		padding: 3rem 0;

		&__copyright{font-size: 0.88rem;}

		&__bottom{
			margin-top: 1.5rem;
			font-size: 0.7rem;
			line-height: 1.5;
		}
	}

	.footer-menu{
		margin-top: 1.4rem;

		&__item,
		&__item a{
			font-size: 0.88rem;
		}

		&__item{
			margin-bottom: 1.25rem;
		}
	}

	.footer-social{
		margin-top: 0.4rem;

		&__item{
			width: 37px;
			height: 37px;
		}
	}
}