//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Gotham Pro', Arial, sans-serif;

// Site
$color-text: #000;
$color-green: #016846;
$color-green-light: #0f9f64;
$color-blue: #1f5bd7;
$color-blue-dark: #00088d;
$color-grey: #959595;