<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Главная страница</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div id="fullpage" class="fullpage js-fullpage">
					<section class="fullpage__item js-fullpage-item" id="slide0">
						<div class="about-wrap">
							<div class="about-wrap__sheet-top"></div>
							<div class="about-wrap__sheet-bottom"></div>

							<div class="container">
								<div class="about">
									<div class="about__content">
										<div class="about__head">Покупайте <b>в&nbsp;100&nbsp;раз</b> больше с&nbsp;картой «Мир»</div>

										<div class="about__text">Совершайте покупки картой «Мир» МИнБанка и получайте возможность выиграть денежные призы</div>

										<a href="http://www.minbank.ru/bankovskie-karti/debetovie-karty/mir/?utm_source=mir&utm_medium=landing&utm_campaign=akcia-pokupki-100&utm_content=oformit-kartu" target="_blank" class="btn">Оформить карту</a>
									</div>

									<div class="about__img"><img src="img/img-100.png" alt=""></div>
								</div>
							</div>
						</div>
					</section>

					<section class="fullpage__item js-fullpage-item" id="slide1">
						<div class="action-wrap">
							<div class="action-wrap__sheet-left"></div>
							<div class="action-wrap__sheet-right"></div>

							<div class="container">
								<div class="h1">Механика акции</div>

								<div class="action">
									<div class="action__list">
										<div class="action__item">
											<div class="action__img"><img src="img/pay.png" alt=""></div>

											<div class="action__head">Оплачивайте покупки</div>

											<div class="action__text">картой «Мир» МИнБанка на сумму от <b>1&nbsp;000</b> или <b>1&nbsp;500 рублей</b></div>
										</div>

										<div class="action__item">
											<div class="action__img"><img src="img/present.png" alt=""></div>

											<div class="action__head">Получите шанс выиграть</div>

											<div class="action__text"><b>100&nbsp;000 рублей</b> или&nbsp;<b>150&nbsp;000 рублей</b> каждый месяц</div>
										</div>
									</div>

									<div class="action__btn"><a href="doc/pdf-test.pdf" target="_blank" class="btn btn--border">Правила акции</a></div>
								</div>
							</div>
						</div>
					</section>

					<section class="fullpage__item js-fullpage-item" id="slide2">
						<div class="award-wrap">
							<div class="award-wrap__sheet-left"></div>
							<div class="award-wrap__sheet-right"></div>
							<div class="award-wrap__sheet-bottom"></div>
							<div class="award-wrap__present"></div>

							<div class="container">
								<div class="h1 t-color-green">Призы</div>

								<div class="award">
									<div class="award__list">
										<div class="award__item">
											<div class="award__img"><img src="img/money-green.png" alt=""></div>

											<div class="award__text"><span class="award__price">100 000</span> рублей на карту «Мир»&nbsp;МИнБанка</div>
										</div>

										<div class="award__item">
											<div class="award__img"><img src="img/money-blue.png" alt=""></div>

											<div class="award__text"><span class="award__price award__price--blue">150 000</span> рублей на карту «Мир»&nbsp;МИнБанка</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>

					<section class="fullpage__item js-fullpage-item" id="slide3">
						<div class="winners-wrap">
							<img src="img/woman.png" alt="" class="winners-wrap__woman">
							<img src="img/man.png" alt="" class="winners-wrap__man">

							<div class="container">
								<div class="h1">Победители</div>

								<div class="winners">
									<div class="winners__head">
										<div class="winners__head-item">Имя</div>
										<div class="winners__head-item">Номер телефона</div>
										<div class="winners__head-item">Приз</div>
									</div>

									<div class="winners__list">
										<div class="winners__row">
											<div class="winners__item">ФИО</div>
											<div class="winners__item">+7 xxx xxx 73 53</div>
											<div class="winners__item">100 000 рублей</div>
										</div>

										<div class="winners__row">
											<div class="winners__item">ФИО</div>
											<div class="winners__item">+7 xxx xxx 73 53</div>
											<div class="winners__item">100 000 рублей</div>
										</div>

										<div class="winners__row">
											<div class="winners__item">ФИО</div>
											<div class="winners__item">+7 xxx xxx 73 53</div>
											<div class="winners__item">100 000 рублей</div>
										</div>

										<div class="winners__row">
											<div class="winners__item">ФИО</div>
											<div class="winners__item">+7 xxx xxx 73 53</div>
											<div class="winners__item">100 000 рублей</div>
										</div>

										<div class="winners__row">
											<div class="winners__item">ФИО</div>
											<div class="winners__item">+7 xxx xxx 73 53</div>
											<div class="winners__item">100 000 рублей</div>
										</div>

										<div class="winners__row">
											<div class="winners__item">ФИО</div>
											<div class="winners__item">+7 xxx xxx 73 53</div>
											<div class="winners__item">100 000 рублей</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
