<header class="header">
	<div class="container">
		<div class="header__content">
			<div class="header__logos">
				<a href="https://mironline.ru/" target="_blank" class="header__logo-mir"><img src="img/logo-mir.svg" alt=""></a>
				<a href="http://www.minbank.ru/?utm_source=mir&utm_medium=landing&utm_campaign=akcia-pokupki-100&utm_content=logo" target="_blank" class="header__logo-bank"><img src="img/logo-bank.png" alt=""></a>
			</div>

			<ul class="top-menu js-top-menu">
				<li class="top-menu__item"><a href="https://super.mironline.ru/" target="_blank">Все Акции «Мир»</a></li>

				<li class="top-menu__item"><a href="#slide1" class="js-link-move" data-slide="1">Механика Акции</a></li>

				<li class="top-menu__item"><a href="doc/pdf-test.pdf" target="_blank">Правила акции</a></li>

				<li class="top-menu__item"><a href="#slide2" class="js-link-move" data-slide="2">Призы</a></li>
				
				<li class="top-menu__item"><a href="#slide3" class="js-link-move" data-slide="3">Победители</a></li>
				
				<li class="top-menu__item"><a href="doc/pdf-test.pdf" target="_blank">FAQ</a></li>
				
				<li class="top-menu__item"><a data-fancybox data-src="#feedback" href="javascript:;">Обратная связь</a></li>
			</ul>

			<span class="ic-hamburger js-open-menu"><span></span></span>
		</div>
	</div>
</header>