html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, normal, 32px, 1.4, $color-text);
	box-sizing:border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img{
	max-width: 100%;
}

a{
	color: $color-text;
}

a:hover,
a:active,
a:focus{
	text-decoration: none;
}

p{
	@include font(normal, normal, 32px, 1.4, $color-text);
	padding: 5px 0;
}

b,
strong{
	font-weight: bold;
}

h1,
.h1{
	@include font(normal, bold, 1.9rem, 1, #fff);
	text-align: center;
	margin-bottom: 2.5rem;
}

h2,
.h2{
	@include font(normal, normal, 1.5rem, 1, $color-text);
	text-align: center;
	margin-bottom: 1.5rem;
}

h3,
.h3{
	@include font(normal, normal, 1.2rem, 1.15, $color-text);
	margin-bottom: 1rem;
}

.wrapper{
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}

main{
	position: relative;
	width: 100%;
	height: calc(100vh - 3rem);
	margin-top: 3rem;
}

.container{
	width: 100%;
	padding-left: 4.1rem;
	padding-right: 4.1rem;
	position: relative;
}

.btn,
input[type="submit"].btn{
	display: inline-block;
	height: 2.5rem;
	background: $color-blue;
	border: 1px solid $color-blue;
	border-radius: 2.25rem;
	@include font(normal, bold, 0.65rem, 2.4rem, #fff);
	padding: 0 1rem;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	min-width: 11rem;
}

.btn:hover,
input[type="submit"].btn:hover{
	background: $color-blue-dark;
}

.btn--border,
input[type="submit"].btn--border{
	background: transparent;
	color: #fff;
	border-color: #fff;
}

.btn--border:hover,
input[type="submit"].btn--border:hover{
	background: #fff;
	color: $color-blue;
}

.btn--white,
input[type="submit"].btn--white{
	height: 2rem;
	background: #fff;
	border-color: #fff;
	color: #000;
	line-height: 1.9rem;
	min-width: 7.5rem;
}

.btn--white:hover,
input[type="submit"].btn--white:hover{
	background: transparent;
	color: #fff;
}


.h-text-left{text-align: left !important;}
.h-text-center{text-align: center !important;}
.h-text-right{text-align: right !important;}
.h-text-justify{text-align: justify !important;}
.h-text-uppercase{text-transform: uppercase !important;}
.h-text-bold {font-weight: 700 !important;}

.t-color-green{color: $color-green;}

.fancybox-content{
	padding: 0;
	border-radius: 28px;
}

.fancybox-button svg{
	display: none;
}

.fancybox-slide--html .fancybox-close-small{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(#{$path-img}/ic-close.svg) no-repeat center;
	padding: 0;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.fancybox-slide--html .fancybox-close-small:hover{
	background-image: url(#{$path-img}/ic-close-black.svg);
}

@media (max-height: 880px) {
	html,
	body{
		font-size: 24px;
	}
}

@media (max-width: 1600px) {
	html,
	body{
		font-size: 24px;
	}
}

@media (max-width: 1279px) {
	.container{
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media (max-width: 991px) {
	html,
	body{
		font-size: 18px;
	}

	.container{
		padding-left: 4.1rem;
		padding-right: 4.1rem;
	}

	main{
		height: calc(100vh - 4.2rem);
		margin-top: 4.2rem;
	}

	.btn,
	input[type="submit"].btn{
		height: 3.5rem;
		border-radius: 1.75rem;
		font-size: 0.9rem;
		line-height: 3.4rem;
		min-width: 15rem;
	}

	h1,
	.h1{
		font-size: 1.7rem;
	}
}

@media (max-width: 767px) {
	html,
	body{
		font-size: 16px;
	}

	main{
		height: auto;
		margin-top: 3.8rem;
	}

	.container{
		padding-left: 20px;
		padding-right: 20px;
	}

	.btn,
	input[type="submit"].btn{
		height: 3rem;
		border-radius: 1.5rem;
		font-size: 0.9rem;
		line-height: 2.9rem;
		min-width: 13.5rem;
	}

	h1,
	.h1{
		font-size: 1.5rem;
		margin-bottom: 3.2rem;
	}

	.fancybox-content{width: 90%;}
}